@namespace Rauthor
@model  ViewModels.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-action="Login" asp-controller="Account">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Login">Логин</label><br />
            <input type="text" asp-for="Login" />
            <span asp-validation-for="Login" />
        </div>
        <div>
            <label asp-for="Password">Пароль</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div>
            <input type="submit" value="Войти" />
        </div>
    </div>
</form>