@namespace Rauthor
@model  ViewModels.LoginModel
@{
    ViewData["Title"] = "Login";
}

<form asp-action="Login" asp-controller="Account">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <input class="form-control" type="text" asp-for="Login" placeholder="Логин" />
        <span asp-validation-for="Login" />
    </div>
    <div>
        <input class="form-control" asp-for="Password" placeholder="Пароль" />
        <span asp-validation-for="Password" />
    </div>
    <div class="input-group-btn">
        <input class="btn btn-primary" type="submit" value="Войти" />
    </div>
</form>