@{
    ViewData["Title"] = "Страница входа";
}
<div class="row">
    <div class="col-3">
        <partial name="login" />
    </div>
    <div class="col-4"></div>
    <div class="col-3">
        <partial name="register" />
    </div>
</div>