@namespace Rauthor
@model  ViewModels.RegistrationModel
@{
    ViewData["Title"] = "Регистрация";
}

    <form asp-action="Register" asp-controller="Account" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <input type="text" placeholder="e-mail" />
        </div>
        <div>
            <p>На почту придет автоматически сгенерированные логин и пароль.</p>
        </div>
        <div>
            <input type="submit" value="Регистрация" />
        </div>
    </form>

