@namespace Rauthor
@model  ViewModels.RegistrationModel
@{
    ViewData["Title"] = "Регистрация";
}

    <form asp-action="Register" asp-controller="Account" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <input asp-for="Login" type="text" placeholder="e-mail" />
        </div>
        <div>
            <div>
                <input asp-for="Password" placeholder="Пароль" />
                <span asp-validation-for="Password" />
            </div>
            <!-- <p>На почту придут автоматически сгенерированные логин и пароль.</p> -->
        </div>
        <div>
            <input class="formButton" type="submit" value="Регистрация" />
        </div>
    </form>

