@{
    ViewData["Title"] = "Регистрация/Вход";
}

<div class="container">
    <div id="auth">
        <div id="auth-cheers">
            <h2>Пиши.</h2>
            <h2>и зарабатывай!</h2>
        </div>
        <div id="reg-cheers">
            <h2>Пиши.</h2>
            <h2>Участвуй.</h2>
            <h2>Зарабатывай!</h2>
        </div>
        <div id="auth-form-container">
            <div class="auth-form">
                <div id="switch-button" onclick="switchForm()">
                    <div id="acc-reg-button">Новый участник</div>
                    <div id="acc-auth-button">Уже сетератор</div>
                </div>
                <div id="login-form">
                    <partial name="login" />
                </div>
                <div id="register-form">
                    <partial name="register" />
                </div>
                <div class="auth-soc-icons">
                    <a href="#"><img class="imgSvg imgSvg_socialIcons100 imgSvg_orange" src="~/img/Social icons/Orange/yandex.svg" /></a>
                    <a href="#"><img class="imgSvg imgSvg_socialIcons100 imgSvg_orange" src="~/img/Social icons/Orange/facebook.svg" /></a>
                    <a href="#"><img class="imgSvg imgSvg_socialIcons100 imgSvg_orange" src="~/img/Social icons/Orange/google.svg" /></a>
                    <a href="#"><img class="imgSvg imgSvg_socialIcons100 imgSvg_orange" src="~/img/Social icons/Orange/vk.svg" /></a>
                    <a href="#"><img class="imgSvg imgSvg_socialIcons100 imgSvg_orange" src="~/img/Social icons/Orange/twitter.svg" /></a>
                </div>
            </div>
            <p class="auth-agreement">Регистрируясь, Вы принимаете условия <a href="#">Пользовательского соглашения</a>.</p>
        </div>

        <div id="successReg">
            <partial name="successReg" />
        </div>
    </div>    
    </div>

<script asp-src-include="/js/account.js"></script>
<script src="~/dist/Account.js"></script>
