@model Seterator.ViewModels.PoemModel


<div class="container">
    <div id="poem">
        <h2>@ViewData["Poem title"]</h2>
        <span>Псевдоним</span>
        <p>@ViewData["Poem text"]</p>
    </div>
    <div id="vk_comments"></div>
</div>

<script type="text/javascript">
VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
</script>
<script src="~/dist/PoemDetails.js"></script>
