.competitionDetails__header {
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 24pt;

    margin-top: 30px;
    margin-bottom: 20px;
}

.competitionDetails__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;

    margin-top: 30px;
    margin-bottom: 90px;
}

.competitionDetails__competitionPrizes {
    background: rgb(238, 238, 238);
    margin-left: 14%;
    padding: 30px 30px 30px 30px;
}