.eventItem {
    display: flex;
}

.eventItem_column {
    flex-direction: column;
}

.eventItem_rows {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 15px;
}

.eventItem__timer_column {
    text-align: center;
    color: rgb(255, 82, 25);
    border-bottom: solid 1px rgb(255, 82, 25);
    margin-bottom: 10px;
}

.eventItem__timer_row {
    flex-grow: 1;
    flex-basis: 10%;
    color: rgb(255, 82, 25);
    font-weight: 600;
}

.eventItem__category {
    color: rgb(100, 100, 100); 
}

.eventItem__category_row {
    flex-basis: 100%;
}

.eventItem__title {
    font-family: 'Merriweather', serif;
    font-size: 18pt;
    font-weight: 600;
}

.eventItem__title_row {
    flex-grow: 4;
    flex-basis: 50%;
    margin-bottom: 0;
}

.eventItem__shortDescription_row {
    flex-basis: 100%;
}

.eventItem_button {
    flex-grow: 4;
    flex-basis: 30%;
    margin-left: 5px;
}