.form {
    margin: 0;
    padding: 0;
}

.form__textbox {
    border: none;
    font-weight: 500;
}

.form__textbox_type_range {
    text-align: center;
    padding: 15px 0;
}

.form__textbox_type_nomralText {
    width: 100%;
    padding: 10px;
}

.form__textbox_font_header {
    font-family: 'Merriweather', serif;
    font-size: 24pt;
}

.form__textbox_theme_dark {
    background: rgb(51, 51, 51);
    color: rgb(102, 102, 102);
}

.form__textbox_theme_light {
    background: rgb(230, 230, 230);
    color: rgb(102, 102, 102);
}

.form__textarea {
    width: 100%;
    border: none;
    padding: 2%;
    font-weight: 500;
}

.form__textarea_theme_dark {
    background: rgb(61, 61, 61);
    color: rgb(102, 102, 102);
}

.form__textarea_theme_light {
    background: rgb(230, 230, 230);
    color: rgb(102, 102, 102);
}

.form__authAgreement {
    margin-top: 30px;
    text-align: center;
    padding-bottom: 70px;
    font-size: 10pt;
}

.form__authAgreement_size_m {
    font-size: 12pt;
}

.form__authAgreement a {
    text-decoration: underline;
}