.imgSvg{
    max-width: 100%;
}

.imgSvg_socialIcons {
    
    max-width: 50%;
}

.imgSvg_socialIcons100 {
    width: 100%;  
}

.imgSvg_20px {
    width: 100%;
    max-width: 20px;
    height: auto;
    margin-right: 5px;
}

.imgSvg_white {
    fill: rgb(255, 255, 255);
}

.imgSvg_color_white {
    fill: rgb(255, 255, 255);
}

.imgSvg_color_orange {
    fill: rgb(255, 82, 25);
}

.imgSvg_color_gray {
    fill: rgb(144, 144, 144);
}

.imgSvg_color_black {
    fill: rgb(0, 0, 0);
}

.imgSvg_orange,
.imgSvg_white:hover {
    fill: rgb(255, 82, 25);
}

.imgSvg_hovered_color_orange:hover {
    fill: rgb(255, 82, 25);
}