.profileItem {
}

.profileItem_margin_xs {
    margin-top: 25px;
}

.profileItem_padding_xs {
    padding: 5%;
}

.profileItem_padding_s {
    padding: 10%;
}

.profileItem_theme_light {
    background-color: rgb(238, 238, 238);
}

.profileItem__header {
    font-size: 16pt;
    font-weight: 600;
}

.profileItem__header_font_sans-serif {
    font-family: 'Montserrat', sans-serif;
}

.profileItem__header_font_serif {
    font-family: 'Merriweather', serif;
}

.profileItem__kind {
    color: rgb(204, 66, 20);
    font-weight: 600;
    margin-bottom: 1%
}

.profileItem__name {
    font-size: 24pt;
    font-family: 'Merriweather', serif;
}