.socialIcons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.socialIcons__item {
    flex-basis: 35px;
    flex-grow: 0;
    padding: 1%;
}