@{
    ViewData["Title"] = "Create";
}

<form class="createCompetition">
    <div class="createCompetition__container container app">
        <prebanner-component :competition="competition"></preBanner-component>
        <banner-component :competition="competition"></banner-component>
        
        <h2 class="createCompetition__header">Подробное описание конкурса</h2>
        <textarea class="createCompetition__descrition createCompetition__textarea createCompetition__textarea_theme_light" name="description" rows="5" placeholder="Начните вводить текст..."
                    v-model="competition.description"></textarea>

        <div class="createCompetition__grid">
            <constraints-component :competition="competition"></constraints-component>

            <div class="createCompetition__prizes">
                <h2 class="createCompetition__header">Призовые места</h2>
                <div class="createCompetition__prizeItems">
                    <div class="createCompetition__prizeItem">
                        <select class="createCompetition__select createCompetition__select_theme_light createCompetition__startRange">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <span>-</span>
                        <select class="createCompetition__select createCompetition__select_theme_light createCompetition__endtRange">
                            <option>нет</option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                        <div class="imgText">
                            <input class="createCompetition__textbox createCompetition__textbox_theme_light createCompetition__textbox_type_nomralText imgText__text_margin_right" name="prizeItem__value" type="text" placeholder="1000 руб.">
                            <img class="imgText__img imgSvg imgSvg_color_orange" src="~/img/Competition/minus.svg">
                        </div>
                    </div>
                </div>
                <div class="createCompetition__upload">    
                    <div class="imgText">
                        <img class="imgText__img imgSvg imgSvg_color_orange" src="~/img/Competition/plus.svg">
                        <span>Добавить призовое место</span>
                    </div>
                </div>
            </div>

            <div class="addJury">
                <h2 class="createCompetition__header">Выбор жюри</h2>
                <div class="imgText">
                    <input class="createCompetition__textbox createCompetition__textbox_theme_light createCompetition__textbox_type_nomralText imgText__text_margin_right" name="prizeItem__value" type="text" placeholder="Вставьте ссылку на жюри">
                    <img class="imgText__img imgSvg imgSvg_color_orange" src="~/img/Competition/minus.svg">
                </div>
                <div class="createCompetition__upload">    
                    <div class="imgText">
                        <img class="imgText__img imgSvg imgSvg_color_orange" src="~/img/Competition/plus.svg">
                        <span>Добавить жюри</span>
                    </div>
                </div>
            </div>
            <div class="createCompetition__inviteJury">
                <label class="createCompetition__label createCompetition__label_font_bold">Вы можете пригласиить жюри по ссылке:</label>
                <input class="createCompetition__textbox createCompetition__textbox_theme_light createCompetition__textbox_type_nomralText" name="currentURL" type="text" placeholder="В разработке">
            </div>
        </div>
        <label class="createCompetition__label">Дата публикации</label>
        <input class="createCompetition__date" name="publicationDate" type="date" required>
        <label class="createCompetition__label">Дата начала конкурса</label>
        <input class="createCompetition__date" name="startDate" type="date" required>
        <label class="createCompetition__label">Дата конца конкурса</label>
        <input class="createCompetition__date" name="endDate" type="date" required>
    </div>
    <div class="createCompetition__buttons">
        <input class="createCompetition__button createCompetition__saveDraft formButton" type="button" value="Сохранить черновик" />
        <input class="createCompetition__button createCompetition__publish formButton" type="submit" value="Опубликовать" />
    </div>
</form>

<script asp-src-include="/js/Competition/create.js"></script>
<script asp-src-include="/js/Competition/all.js"></script>
<script asp-src-include="/js/Core/utils.js"></script>
<script asp-src-include="/js/Core/models.js"></script>
