 @model Competition

<div class="container">
<div class="app">
    <div class="competitionDetails competitionItem competitionItem_direction_column">
        <banner-component :competition="competition"></banner-component>
        <h3 class="competitionDetails__header">Описание конкурса</h3>
        <p class="competitionItem__fullDescription"></p>
        <div class="competitionDetails__grid">
            <div class="competitionDetails__competitionConditions">
                <h3 class="competitionDetails__header">Условия конкурса</h3>
                <ul class="competitionConditions">
                    <li class="competitionConditions__item competitionConditions__item_marker_orangeDot"> <span class="competitionConditions__name">Возраст участников: </span> <span class="competitionConditions__value"></span></li>
                    <li class="competitionConditions__item competitionConditions__item_marker_orangeDot"> <span class="competitionConditions__name">Страны участников: </span> <span class="competitionConditions__value"></span></li>
                    <li class="competitionConditions__item competitionConditions__item_type_file">
                        <div class="imgText">
                            <img class="imgText__img imgSvg imgSvg_color_orange" src="~/img/Competition/link_1.svg">
                            <span class="competitionConditions__fileName">Условия конкурса</span>
                        </div>
                    </li>
                    <li class="competitionConditions__item competitionConditions__item_type_file">
                        <div class="imgText">
                            <img class="imgText__img imgSvg imgSvg_color_orange" src="~/img/Competition/document.svg">
                            <span class="competitionConditions__fileName">Политика конфиденциальности</span>
                        </div>
                    </li>
                    <li class="competitionConditions__item competitionConditions__item_type_file">
                        <div class="imgText">
                            <img class="imgText__img imgSvg imgSvg_color_orange" src="~/img/Competition/document.svg">
                            <span class="competitionConditions__fileName">Соглашение</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="competitionDetails__competitionPrizes">
                <h3 class="competitionDetails__header">Призы</h3>
                <ul class="competitionPrizes">
                </ul>
            </div>
            <div class="competitionDetails__jury jury">
                <h3 class="competitionDetails__header">Жюри <span class="jury__count"></span></h3>
                <ul class="jury__lst">
                </ul>
                <div class="jury__showAllBtn btn btn_color_white">
                    Смотреть всех
                </div>
            </div>
            <div class="competitionDetails__participants participants">
                <h3 class="competitionDetails__header">Участники <span class="participants__count"></span> </h3>
                <ul class="participants__lst">
                </ul>
                <div class="participants__showAllBtn btn btn_color_white">
                    Смотреть всех
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="~/js/Competition/Timer.js"></script>
<script asp-src-include="/js/Core/utils.js"></script>
<script src="~/js/Competition/Details.js"></script>
<script asp-src-include="/js/Competition/all.js"></script>
<script asp-src-include="/js/Core/models.js"></script>