@model Competition

<div class="container">
    <div id="compet">
        <div class="banner banner_padding_small banner_theme_common">
            <div class="flexRow flexRow_banner">
                <div class="organizerCard flexRow__item_grow1">
                    <div class="flexRow flexRow_imgAndText">
                        <div class="avatar avatar_round">
                            
                        </div>
                        <div class="organizerCard__name">
                            Организатор
                        </div>
                    </div>
                    <div class="flexRow flexRow_imgAndText">
                        <img class="imgSvg imgSvg_white imgSvg_20px organizerCard__img" src="~/img/Competition/telephone.svg">
                        <div class="organizerCard__phone">
                            +7(964)456-21-98
                        </div>
                    </div>
                    <div class="flexRow flexRow_imgAndText">
                        <img class="imgSvg imgSvg_white imgSvg_20px organizerCard__img" src="~/img/Competition/email.svg">
                        <div class="organizerCard__email">
                            mainmail@@seterator.ru
                        </div>
                    </div>
                    <div class="flexRow flexRow_socialIcons">
                        <a class="flexRow__item_100px" href="#"><img class="imgSvg imgSvg_socialIcons imgSvg_white" src="~/img/Social icons/Orange/facebook.svg" /></a>
                        <a class="flexRow__item_100px" href="#"><img class="imgSvg imgSvg_socialIcons imgSvg_white" src="~/img/Social icons/Orange/google.svg" /></a>
                        <a class="flexRow__item_100px" href="#"><img class="imgSvg imgSvg_socialIcons imgSvg_white" src="~/img/Social icons/Orange/twitter.svg" /></a>
                        <a class="flexRow__item_100px" href="#"><img class="imgSvg imgSvg_socialIcons imgSvg_white" src="~/img/Social icons/Orange/vk.svg" /></a>
                    </div>
                </div>
                <div class="eventItem eventItem_rows flexRow__item_grow3">
                        <span class="eventItem__category eventItem__category_row">Ежедневный конкурс</span>
                        <h4 class="eventItem__title eventItem__title_row">Название</h4>
                        <div class="flexRow flexRow_imgAndText">
                            <img class="imgSvg imgSvg_orange imgSvg_20px" src="~/img/Competition/time.svg" />
                            <span class="eventItem__timer eventItem__timer_row">Дата</span>
                        </div>
                        <a class="formButton eventItem_button" asp-action="Become"
                            asp-controller="Participant"
                            asp-route-guid="@Model.Guid">Участвовать</a>
                        <p class="eventItem_shortDescription eventItem__shortDescription_row">Короткое описание</p>
                </div>
            </div>
        </div>

        <div class="full-description">
            <h3>Описание</h3>
            <p></p>
        </div>

        <div class="content">
            <div class="conditions">
                <h3>Условия конкурса</h3>
                <ul>
                    <li>Вам должно быть от 18 до 19 лет.</li>
                    <li>Вы должны быть гражданином РФ.</li>
                    <li>Произведение не должно содержать нецензурную лексику.</li>
                </ul>
            </div>
            <div class="prizes">
                <h3>Призы</h3>
                <ul>
                    <li><span>1 место</span> - 1000 р.</li>
                    <li><span>2 место</span> - 500 р.</li>
                    <li><span>3 место</span> - 100 р.</li>
                    <li>4-10 - скидка где-то.</li>
                    <li>10-15 - блокнот и ручка</li>
                </ul>
            </div>
            <div class="jury">
                <h3>Жюри <span>(25)</span></h3>
                <ul>
                    @*<li>
                        <div>
                            <div class="avatar"></div>
                            <span class="name">Имя Фамилия</span>
                        </div>
                        <p class="about">О жюри</p>
                    </li>*@
                </ul>
                <button class="formButton">Смотреть всех</button>
            </div>
            <div class="participants">
                <h3>Участники <span>(1 из 1000)</span></h3>
                <ul>
                    <li>
                        <h4>Название произведения</h4>
                        <span>Псевдоним</span>
                    </li>
                </ul>
                <button class="formButton">Cмотреть всех</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Competition/GetDate.js"></script>
<script src="~/js/Competition/Timer.js"></script>
<script asp-src-include="/js/Competition/all.js"></script>
<script asp-src-include="/js/Core/utils.js"></script>
<script asp-src-include="/js/Core/models.js"></script>
