@model Rauthor.Models.Poem

<div class="container">
    <div class="poem-details-grid">
        <div class="last-competitions">
            Пусто
        </div>
        <div class="profile-block">
            Пусто
        </div>
        <div class="poem-block">
            Пусто
        </div>
    </div>
</div>