@using System.Security.Claims
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/img/icons/favicon.png" />
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/old.css" />
    
    <!-- ВК комментарии -->
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?162"></script>
    <script type="text/javascript">VK.init({ apiId: 7196510, onlyWidgets: true });</script>
    <!-------------------->

</head>
<body>
    <div id="el"></div>
    <header>
        <div id="header-component"></div>
        
        <div class="container">
            <hr />
            <div class="developBanner">
                <h1>ПРОЕКТ В РАЗРАБОТКЕ</h1>
                <a 
                    class="developBanner__link"
                    href="https://saner99.tb.ru/seterator" 
                    target="_blank" 
                >
                    <div class="btn btn_color_orange">Узнайте больше</div>
                </a>
                <h3>Данный сайт демонстрационный</h3>
            </div>
            <hr />
        </div>
        
    </header>

    <div>
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div id="footer-component"></div>

    <script src="~/dist/Layout.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/svgInliner.js" asp-append-version="true"></script>
    <script src="~/js/test.js"></script>
</body>
</html>
