@model PoemModel
@{
    ViewData["Title"] = "Принять участие";
}

<div class="container">
    <form class="grid-participant-become" asp-action="Become"
          asp-controller="Participant"
          asp-route-id="@(ViewData["Competition guid"])"
          asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="become-item">
            <div class="item-header">
                <h3>1.</h3><h3>Конкурс</h3>
            </div>
            <div class="item-content">
                <h2>@(ViewData["Competition title"])</h2>
            </div>
        </div>
        <div class="become-item">
            <div class="item-header">
                <h3>2.</h3><h3>Произведение</h3>
            </div>
            <div class="item-content">
                <input class="form-control" type="text" asp-for="Title" placeholder="Название" />
                <textarea class="form-control"
                          asp-for="Text"
                          placeholder="Забил снаряд я в пушку..." rows="30">
            </textarea>
            </div>
        </div>

        <div class="become-item">
            <div class="item-header">
                <h3>3.</h3><input class="submit_button" type="submit" value="Подать" />
            </div>
        </div>
    </form>
</div>
