@model PoemModel
@{
    ViewData["Title"] = "Принять участие";
}

<h1>Become</h1>

<h4>Принять участие</h4>
Название соревнования: @(ViewData["Competition title"])
<hr />

<form class="form-group" 
      asp-action="Become" 
      asp-controller="Participant" 
      asp-route-id="@(ViewData["Competition guid"])"
      asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Text">Текст произведения</label><br />
            <textarea class="form-control" 
                      asp-for="Text"
                      placeholder="Забил снаряд я в пушку...">
            </textarea>
            <span asp-validation-for="Text" />
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Отправить заявку" />
        </div>
    </div>
</form>
