@model System.Collections.Generic.IEnumerable<Participant>

<table class="table">
    <thead>
        <tr>
            <th>
                Конкурс
            </th>
            <th>
                Статус заявки
            </th>
            <th>
                Рейтинг
            </th>
            <th>
                Произведения
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
        <tr>
            <td>
                @i.Competition.Titile
            </td>
            <td>
                @(i.Status switch
                {
                    ParticipantStatus.Updated => "Ожидает повторно рассмотрения",
                    ParticipantStatus.Rejected => "Отклонена",
                    ParticipantStatus.New => "Не рассмотрена",
                    ParticipantStatus.Approved => "Одобрена"
                })
            </td>
            <td>
            </td>
            <td>
                @foreach (var poem in i.Poems)
                {
                <span>@poem.Title</span><br />
                }
            </td>
        </tr>
        }
    </tbody>
</table>