@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

:root {
    --main-color: rgb(255, 82, 25);
    --second-color: rgb(204, 66, 20);

    --seterator-color-black: rgb(17, 17, 17);
    --seterator-color-gray: rgb(51, 51, 51);

    --font-serif: 'Merriweather', serif;
    --font-sans-serif: 'Montserrat', sans-serif;

    --main-font-size: 14px;
}

/* --- Шрифт --- */
html {
    font-size: var(--main-font-size);
}

@media (min-width: 768px) {
    html {
        font-size: 1.1rem;
    }
}

body {
    font-family: var(--font-sans-serif);
}

/*--- Ссылки по умолчанию ---*/
a {
    color: var(--seterator-black);
    text-decoration: none;
}

a:hover {
    color: var(--main-color);
    text-decoration: none;
}

/* --- Рудимент кукисов --- */
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
