.banner {
    width: 100%;
    overflow: hidden;
    color: rgb(255, 255, 255);

    position: relative;
}

.banner__title {
    margin: 0;
    padding: 0;
    margin-bottom: 30px; 
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 24pt;
}

.banner__description {
    margin: 0;
    padding: 0;
    
    font-size: 14pt;
}

.banner_padding_small {
    padding: 3%;
}


.banner_padding_medium {
    padding: 5% 8%;
}

.banner_theme_common {
    background: linear-gradient(to right, rgba(17, 17, 17, 0.7) 0%, rgba(17, 17, 17, 0.7) 100%), url('/img/Index/bg_1.jpg');
    background-size: cover;
    background-position: 10% 85%;
    background-repeat: no-repeat;
}

.banner_theme_none {
    background: rgb(51, 51, 51);
}

.banner_partition_two {
    display: flex;
}

.banner__personalInfo {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;

    padding: 2%;
    border-right: solid 2px rgb(255, 82, 25);
}

.banner__competitionItem {
    display: flex;
    flex-basis: 75%;
    padding-left: 30px;
}