.competitionPrizes {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.competitionPrizes__item {
    margin-top: 10px;
}

.competitionPrizes__item:nth-child(1) .competitionPrizes__name {
    color: rgb(255, 82, 25);
    font-weight: 600;
    font-size: 16pt;
}

.competitionPrizes__item:nth-child(2) .competitionPrizes__name {
    color: rgb(204, 61, 20);
    font-weight: bold;
    font-size: 15pt;
}

.competitionPrizes__item:nth-child(3) .competitionPrizes__name {
    font-weight: bold;
    font-size: 14pt;
}