.participantBecome__timer {
    color: rgb(255, 82, 25);
    margin-bottom: 15px;
}

.participantBecome__itemsRow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.participantBecome__form {
    margin: 40px auto;
    width: 66%;
}

.participantBecome__form > * {
    margin-top: 10px;
}