 @model Competition

<div class="container">
    <div class="competitionDetails competitionItem">
        <div class="banner banner_padding_small banner_theme_common banner_partition_two">
            <div class="banner__personalInfo personalInfo personalInfo_font_small">
                <div class="personalInfo__avatar imgText">
                    <div class="avatar avatar_theme_light avatar_shape_circle avatar_size_s">

                    </div>
                    <div class="parsonalInfo__name imgText__text_margin_left">
                        Организатор
                    </div>
                </div>
                <div class="personalInfo__item_margin_bottom imgText">
                    <img class="imgText__img imgSvg imgSvg_color_white" src="~/img/Competition/telephone.svg">
                    <span class="personalInfo__phone imgText__text_margin_left"></span>
                </div>
                <div class="personalInfo__item_margin_bottom imgText">
                    <img class="imgText__img imgSvg imgSvg_color_white" src="~/img/Competition/email.svg">
                    <span class="personalInfo__email imgText__text_margin_left"></span>
                </div>
                <div class="personalInfo__item_margin_bottom socialIcons socialIcons_align_bySides">
                    <a class="socialIcons__item socialIcons__item_size_s" href="#"><img class="imgSvg imgSvg_color_white imgSvg_hovered_color_orange" src="~/img/Social icons/Orange/google.svg" /></a>
                    <a class="socialIcons__item socialIcons__item_size_s" href="#"><img class="imgSvg imgSvg_color_white imgSvg_hovered_color_orange" src="~/img/Social icons/Orange/twitter.svg" /></a>
                    <a class="socialIcons__item socialIcons__item_size_s" href="#"><img class="imgSvg imgSvg_color_white imgSvg_hovered_color_orange" src="~/img/Social icons/Orange/facebook.svg" /></a>
                    <a class="socialIcons__item socialIcons__item_size_s" href="#"><img class="imgSvg imgSvg_color_white imgSvg_hovered_color_orange" src="~/img/Social icons/Orange/vk.svg" /></a>
                </div>
            </div>
            <div class="banner__competitionItem competitionItem_direction_column">
                <span class="competitionItem__category"></span>
                <h4 class="competitionItem__title"></h4>
                <p class="competitionItem__shortDescription competitionItem__shortDescription_width_allLine"></p>
                <div class="competitionItem__division competitionItem__division_align_bySides">
                    <div class="imgText">
                        <img class="imgText__img imgSvg imgSvg_color_gray imgText__img_size_s" src="~/img/Competition/share.svg">
                        <span class="competitionItem__share">Поделиться</span>
                    </div>
                    <a class="competitionItem__button btn btn_decoration_orangeShadow btn_color_orange" asp-action="Become"
                            asp-controller="Participant"
                            asp-route-guid="@Model.Guid">
                        <div class="imgText">
                            <img class="imgText__img imgSvg imgSvg_color_white" src="~/img/Competition/time.svg">
                            <span class="imgText__text competitionItem__timer"></span>
                        </div>
                        <span class="formButton__item">Участвовать</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <h3 class="competitionDetails__header">Описание конкурса</h3>
    <p class="competitionItem__fullDescription"></p>
    <div class="competitionDetails__grid">
        <div class="competitionDetails__competitionConditions">
            <h3 class="competitionDetails__header">Условия конкурса</h3>
            <ul class="competitionConditions">
                <li class="competitionConditions__item competitionConditions__item_marker_orangeDot"> <span class="competitionConditions__name">Возраст участников: </span> <span class="competitionConditions__value"></span></li>
                <li class="competitionConditions__item competitionConditions__item_marker_orangeDot"> <span class="competitionConditions__name">Страны участников: </span> <span class="competitionConditions__value"></span></li>
                <li class="competitionConditions__item competitionConditions__item_type_file">
                    <div class="imgText">
                        <img class="imgText__img imgSvg imgSvg_color_orange" src="~/img/Competition/link_1.svg">
                        <span class="competitionConditions__fileName">Условия конкурса</span>
                    </div>
                </li>
                <li class="competitionConditions__item competitionConditions__item_type_file">
                    <div class="imgText">
                        <img class="imgText__img imgSvg imgSvg_color_orange" src="~/img/Competition/document.svg">
                        <span class="competitionConditions__fileName">Политика конфиденциальности</span>
                    </div>
                </li>
                <li class="competitionConditions__item competitionConditions__item_type_file">
                    <div class="imgText">
                        <img class="imgText__img imgSvg imgSvg_color_orange" src="~/img/Competition/document.svg">
                        <span class="competitionConditions__fileName">Соглашение</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="competitionDetails__competitionPrizes">
            <h3 class="competitionDetails__header">Призы</h3>
            <ul class="competitionPrizes">
            </ul>
        </div>
        <div class="competitionDetails__jury jury">
            <h3 class="competitionDetails__header">Жюри <span class="jury__count"></span></h3>
            <ul class="jury__lst">
            </ul>
            <div class="jury__showAllBtn btn btn_color_white">
                Смотреть всех
            </div>
        </div>
        <div class="competitionDetails__participants participants">
            <h3 class="competitionDetails__header">Участники <span class="participants__count"></span> </h3>
            <ul class="participants__lst">
            </ul>
            <div class="participants__showAllBtn btn btn_color_white">
                Смотреть всех
            </div>
        </div>
    </div>
</div>

<script src="~/js/Competition/Timer.js"></script>
<script asp-src-include="/js/Core/utils.js"></script>
<script src="~/js/Competition/Details.js"></script>
<script asp-src-include="/js/Competition/all.js"></script>
<script asp-src-include="/js/Core/models.js"></script>
<script src="~/dist/CompetitionDetails.js"></script>
