@model PoemModel
@{
    ViewData["Title"] = "Принять участие";
}


<div class="participantBecome container">
    <div class="competitionItem competitionItem_direction_column">
        <span class="participantBecome__timer competitionItem__timer"></span>
        <div class="participantBecome__itemsRow">
            <h3 class="competitionItem__title competitionItem__title_size_xl">@(ViewData["Competition title"])</h3>
            <div class="imgText">
                <span class="imgText__text">Условия конкурса</span>
                <img class="imgText__img imgSvg imgSvg_color_black" src="~/img/icons/arrow.svg">
            </div>
        </div>
        <p class="competitionItem__description"></p>
    </div>

    <form class="participantBecome__form form">
        <input class="form__textbox form__textbox_type_nomralText form__textbox_theme_light" name="title" type="text" placeholder="Название произведения" />
        <input class="form__textbox form__textbox_type_nomralText form__textbox_theme_light" name="nickname" type="text" placeholder="Псевдоним" />
        <textarea class="form__textarea form__textarea_theme_light" name="poem" placeholder="Забил снаряд я в пушку..." rows="10"></textarea>
        <input class="btn btn_color_orange" type="submit" value="Отправить" />
        <p class="form__authAgreement form__authAgreement_size_m">Регистрируясь, Вы принимаете условия <a href="#">Пользовательского соглашения</a>.</p>
    </form>
</div>

<script src="~/js/Competition/Timer.js"></script>
<script src="~/js/Participant/Become.js"></script>
<script src="~/dist/ParticipantBecome.js"></script>
