<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">

    <targets>
        <target name="rotatingFile" 
            layout="${longdate}|${level:uppercase=true}|${message}${exception:format=Message,StackTrace}" 
            xsi:type="File"
            fileName="${basedir}/logs/LogData_${shortdate}.log"
            archiveFileName="${basedir}/logs/archived/LogData_${shortdate}.{#####}.log"
            archiveNumbering="DateAndSequence"
            maxArchiveDays="7"
            archiveEvery="Day"
            archiveAboveSize="12582912"
        />
        <target name="sensitiveFile" 
            layout="${longdate}|${level:uppercase=true}|${message}{exception:format=Message,StackTrace}" 
            xsi:type="File" 
            fileName="${basedir}/logs/sensitive.log"
            deleteOldFileOnStartup="true" 
        />
        <target name="console" xsi:type="Console" />
    </targets>

    <rules>
        <logger name="Default" minlevel="Trace" writeTo="rotatingFile" />
        <logger name="Console" minlevel="Trace" writeTo="console" />
        <logger name="Sensitive" minlevel="Trace" writeTo="sensitiveFile"  />

        <logger name="*" minlevel="Trace" writeTo="rotatingFile" />
    </rules>
</nlog>
