.review {
    margin: 0 10vw;
}

.application {
    background: white;
    min-height: 70vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} 

.application h4, .application h3, .application p {
    padding: 0.5vw 1vw;
}

.application-buttons {
    margin-top: 1.5vw;
    margin-bottom: 10vw;

    position: relative;
    width: 100%;
}

.application-buttons a {
    text-decoration: none;
    color: black;
}

.application-buttons a:hover {
    opacity: 0.7;
}

.application-buttons .reject-block {
    position: absolute;
    left: 0;
} 

.application-buttons .b-text {
    background: rgb(239, 239, 239);
    padding: 1vw;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-size: 16pt;
}

.application-buttons .accept-block {
    position: absolute;
    right: 0;
}