.competition-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
        "event_card event_card event_card event_card event_card" 
        "judges-block judges-block judges-block prizes-block conditions-block"
        "participant participant participant participant participant";
    grid-gap: 0.5vw;
}

.competition-grid .judges-block, 
.competition-grid .prizes-block, 
.competition-grid .conditions-block,
.competition-grid .participant-block {
    background: rgb(239, 239, 239);
    padding: 0.5vw;
}

.competition-grid .event_card {
    grid-area: event_card;
    height: 35vh;
    overflow: hidden; 
}

.competition-grid .event_card img {
    height: unset;
    position: absolute;
    bottom: 0;
}

.competition-grid .event_card h3 {
    font-size: 46pt;
}

.continue_button {
    display: grid;
    align-items: center;
    position: absolute;
    background: rgb(255, 57, 0);
    bottom: 1vw;
    right: 3vw;
    color: white;
    font-weight: 600;
    font-size: 16pt;
    padding: 0.3vw 1vw;
    margin: 0;
}

.continue_button:hover {
    opacity: 0.7;
}

.continue_button p {
    margin: 0;
    padding: 0;
}

.competition-grid div h4 {
    font-weight: 600;
    font-size: 1.7rem;
}

.competition-grid .judges-block {
    grid-area: judges-block;
}

.competition-grid .prizes-block {
    grid-area: prizes-block;
}

.competition-grid .conditions-block {
    grid-area: conditions-block;
}

.judges-block .judges {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5vw;
}

.judges-block .judge {
    display: grid;
    grid-template-areas:
        "avatar name"
        "avatar description";
    grid-column-gap: 0.3vw;
    grid-row-gap: 0.3vw;
    align-self: start;
}

.judges-block .judge div {
    grid-area: avatar;
}

.judges-block .judge h5 {
    grid-area: name;
    margin: 0;
}

.judges-block .judge p {
    grid-area: description;

    font-size: 9pt;
}

.competition-grid .participant-block {
    grid-area: participant;
    
}

.participant-block table {
    width: 100%;
}

.participant-block table th {
    color: darkgray;
}