.grid-index {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5vw;
}

.grid-index a {
    grid-column-end: span 2;
    grid-row-end: span 2;
    background-color: gainsboro;
}


.event_card {
    position: relative;
}

.grid-index a:hover {
    opacity: 0.7;
}

.event_card img {
    width: 100%;
    height: 100%;
}

.event_card h3 {
    color: rgb(255, 57, 0);
    font-weight: 600;
    font-size: calc(1.2vh + 1.2vw);
}

.event_card h4 {
    color: rgb(239, 239, 239);
    font-weight: bold;
    font-size: 1vw;
}

.info-on-card {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 10px 5px 20px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.1));
}