footer {
    background: rgb(17, 17, 17);
    margin: 0;
    padding: 40px 0;
}

.footer {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.footer p {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

#footer-logo img {
    max-width: 100%;
}

/* .footer .img-svg {
    max-width: 50%;
    fill: rgb(255, 255, 255);
}

.footer .img-svg:hover {
    fill: rgb(255, 82, 25);
} */

#footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#footer-cols ul {
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;

    list-style: none;
    white-space: nowrap;
}

#footer-cols ul li a {
    color: rgb(255, 255, 255);
}

#footer-cols ul li a:hover {
    color: rgb(255, 82, 25);
}

#footer-cols ul li:first-child {
    margin-bottom: 20px;
    color: rgb(64, 64, 64);
    font-weight: 600;
}

#footer-cols ul:last-child li:first-child {
    grid-column: span 3;
}

.footer__socialIcons {
    flex-basis: 25%;
    padding: 3%;
}