#index .banner {
    background: linear-gradient(to right, rgba(17, 17, 17, 0.7) 0%, rgba(17, 17, 17, 0.7) 100%), url('/img/Index/bg_1.jpg');
    background-size: cover;
    background-position: 10% 85%;
}

.banner {
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 5% 8%;
    color: rgb(255, 255, 255);
}


.banner h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 30px; 
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 24pt;
}

.banner p {
    margin: 0;
    padding: 0;

    font-size: 14pt;
}

.events-list {
    margin-top: 60px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.events-list span {
    grid-column: 1/4;
    justify-self: center;

    color: rgb(255, 82, 25);
    font-weight: 600;

    cursor: pointer;
}