.events-list {
    margin-top: 60px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.events-list span {
    grid-column: 1/4;
    justify-self: center;

    color: rgb(255, 82, 25);
    font-weight: 600;

    cursor: pointer;
}