.part-become {
}

.part-become .time-to-end {
    color: rgb(255, 82, 25);
}

.part-become .poem-title-cond {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.part-become .poem-title-cond h2 {
    margin-top: 10px;
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 24pt;
}

.part-become .poem-title-cond p {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.part-become .poem-title-cond p span {
    margin-right: 2px;    
}

.part-become .poem-title-cond .img-svg {
        width: 5%;
}

.part-become form {
    padding: 0;
    margin: 60px auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;

    width: 66%;
}

.part-become form input[type=text] {
    background-color: rgb(238, 238, 238);
    border: 2px solid rgb(238, 238, 238);
    font-size: 14pt;
    margin: 0;
    padding: 20px 30px;
    width: 100%;
}

.part-become form input[type=text]:focus,
.part-become form textarea:focus {
    border: 2px solid rgb(255, 82, 25);
}

.part-become form input:nth-child(2) {
    font-style: italic;
}

.part-become form textarea {
    background-color: rgb(238, 238, 238);
    border: 2px solid rgb(238, 238, 238);
    font-size: 12pt;
    padding: 20px 30px;
}

.part-become form input[type=submit] {
    margin: 0;
    padding: 15px;
    width: 100%;

    text-align: center;
    background-color: rgb(255, 82, 25);
    border: none;
    border-radius: 40px;
    color: rgb(255,255,255);
}

.part-become form input[type=submit]:hover {
    background-color: rgb(204, 66, 20);
}

.part-become form p {
    margin: 0;
    padding: 0;
    margin-top: 20px;

    text-align: center;
}

.part-become form p a {
    text-decoration: underline;
}

/*.grid-participant-become {
    display: grid;
    background: rgb(239, 239, 239);
    grid-gap: 0.5vw;
}

.become-item {
    display: grid;
    grid-template-columns: 1fr;
}

.become-item .item-header h3 {
    background-color: rgba(0, 0, 0, 0.5);
}

.become-item h3, .become-item input[type=submit] {
    font-size: 20pt;
    font-weight: 600;
    margin: 0;
}

.become-item .item-header h3:first-child {
    background-color: rgba(0, 0, 0, 0.7);
}

.become-item .item-header h3{
    display: block;
    float: left;
    padding: 0.5vw;
    color: white;
}

.become-item .item-content {
    padding: 0.5vw 2.5vw 0 2.5vw;
}

.become-item .item-content h2 {
    color: rgb(255, 57, 0);
    font-size: 32pt;
}

.become-item input[type=submit] {
    border: none;
    background-color: rgb(255, 57, 0);
    color: white;
    display: block;
    height: 100%;
}

.become-item input[type=submit]:hover {
    opacity: 0.7;
}*/