@using System.Security.Claims
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Event.css" />
    <link rel="stylesheet" href="~/css/social_block.css" />
    <link rel="stylesheet" href="~/css/Account.css" />
    <link rel="stylesheet" href="~/css/Profile.css" />
    <link rel="stylesheet" href="~/css/Footer.css" />
    <link rel="stylesheet" href="~/css/Competition.css" />
    <link rel="stylesheet" href="~/css/Participant_become.css" />
    <link rel="stylesheet" href="~/css/Application.css" />
    <link rel="stylesheet" href="~/css/Poem_details.css" />
    <link rel="stylesheet" href="~/css/Assessment.css" />
    <link rel="stylesheet" href="~/css/Header.css" />
</head>
<body>
    <header>
        <partial name="Header" />
        @*<div class="container">
            <h1>Демо-версия</h1>
            <h2>Основная версия сайта в процессе подготовки к Альфа-тестированию</h2>
            <hr />
        </div>*@
    </header>
    <div>
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="grid-footer">
                @*&copy; 2019 - РуАвтор - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
                <div class="footer-logo">
                    <img src="~/img/footer-logo.png" />
                </div>
                <a asp-controller="Home" asp-action="Privacy">Privacy</a>
                <div class="social-icons">
                    <p>Мы здесь</p>
                    <a href="https://twitter.com/seterator_ru" target="_blank">
                        <img src="~/img/Social icons/twitter.png" />
                    </a>
                    <a href="https://vk.com/seterator" target="_blank">
                        <img src="~/img/Social icons/vkontakte.png" />
                    </a>
                    <a href="https://t.me/seterator_updates" target="_blank">
                        <img src="~/img/Social icons/telegram.png" />
                    </a>
                    <a href="https://www.facebook.com/seterator" target="_blank">
                        <img src="~/img/Social icons/facebook.png" />
                    </a>
                    <a href="https://www.instagram.com/seterator.ru/" target="_blank">
                        <img src="~/img/Social icons/instagram.png" />
                    </a>
                </div>
                <div class="footer-osm">
                    <img src="~/img/2osm.png" />
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
