@using System.Security.Claims

<footer>
    <div class="footer container">
        <div id="footer-logo">
            <img src="~/img/Logo/logo_1-(white).png" />
        </div>
        <div id="footer-cols">
            <ul>
                <li>Навигация</li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a asp-controller="Profile" asp-action="Index">Профиль</a>
                    </li>
                    @if (User.HasClaim(ClaimTypes.Role, "Moderator"))
                    {
                        <li>
                            <a asp-controller="Participant" asp-action="Review">Модерация</a>
                        </li>
                    }
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                    </li>
                }
                    <li>
                        <a asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
            </ul>
            <ul>
                <li>Полезная информация</li>
                <li><a asp-area="" asp-controller="" asp-action="">Оферта</a></li>
                <li><a asp-area="" asp-controller="" asp-action="">Пользовтальское соглашение</a></li>
                <li><a asp-area="" asp-controller="" asp-action="">Условия конфиденциальности</a></li>
            </ul>
            <ul>
                <li>Пользователь</li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-action="Main" asp-controller="Account">Авторизация</a>
                    </li>
                }
            </ul>
            <ul>
                <li>Социальные сети</li>
                <li>
                    <div class="flexRow flexRow_socialIcons">
                        <a class="flexRow__item_100px" href="#"><img class="imgSvg imgSvg_socialIcons imgSvg_white imgSvg_footer" src="~/img/Social icons/Orange/google.svg" /></a>
                        <a class="flexRow__item_100px" href="#"><img class="imgSvg imgSvg_socialIcons imgSvg_white imgSvg_footer" src="~/img/Social icons/Orange/twitter.svg" /></a>
                        <a class="flexRow__item_100px" href="#"><img class="imgSvg imgSvg_socialIcons imgSvg_white imgSvg_footer" src="~/img/Social icons/Orange/vk.svg" /></a>
                        <a class="flexRow__item_100px" href="#"><img class="imgSvg imgSvg_socialIcons imgSvg_white imgSvg_footer" src="~/img/Social icons/Orange/facebook.svg" /></a>
                    </div>
                </li>
            </ul>
        </div>
        <p>&copy;2019, seterator.ru</p>
    </div>
</footer>