@model System.Collections.Generic.IEnumerable<Seterator.Models.Competition>

@{
    ViewData["Title"] = "Главная";
}
<div id='index-component'></div>
<div class="container">
    <div class="index">
        <div class="banner banner_theme_common banner_padding_medium">
            <h2 class="banner__title">Поэтические конкурсы каждый день!</h2>
            <p class="banner__description">Устал от конкурсов с результатами через год?</p>
            <p class="banner__description">Отправь заявку сегодня и завтра узнай результат!</p>
        </div>
    </div>
</div>

<script src="~/js/Timer.js"></script>
<script src="~/dist/Home.js"></script>
