@{
    ViewData["Title"] = "Privacy Policy";
}

    <div class="container">
        <h3 style="text-align: center;">
            Соглашение
            об использовании материалов и сервисов интернет-ресурса Seterator
            (пользовательское соглашение)
        </h3>
        <pre>

Москва		                                  				   "17"  октября  2019 г.

	Настоящее Соглашение является публичной офертой и определяет условия
использования материалов и сервисов, составляющих интернет-ресурс и размещенных на сайте в сети Интернет по адресу: www.seterator.ru и/или при помощи Ресурса, посетителями и пользователями данного интернет-ресурса (далее –Ресурс).

1.	Определения, используемые в настоящем соглашении

1.1.	В настоящем пользовательском соглашении, если из его текста прямо не вытекает иное, следующие термины будут иметь указанные ниже значения:
1.2.	Сетератор - автор литературных произведений, публикующий их преимущественно в интернете.
1.3.	Сервис - совокупность используемых средств, методов, способов обработки данных, обеспечивающих функционирование интернет-ресурса Seterator.
1.4.	Сайт - совокупность информации, текстов, графических элементов, дизайна, изображений, фото, аудио и видеоматериалов и иных охраняемых результатов интеллектуальной деятельности и средств индивидуализации Администратора, а также программ для ЭВМ, содержащихся в информационной системе, обеспечивающей доступность такой информации в сети Интернет по сетевому адресу http://seterator.ru.
1.5.	Пользователь - физическое лицо, использующее настоящий Сервис, и тем самым соглашающееся с условиями Соглашения. 
1.6.	Покупатель - пользователь, осуществляющий приобретение платной услуги, предоставляемой Сервисом, соглашающийся с Правилами приобретения платных  услуг.
1.7.	Автор - пользователь Сервиса, зарегистрированный на Сервере в установленном порядке, своим творческим трудом создавший литературный текст и использующий его в рамках Сервиса (например, подавший заявку на участие в конкурсе). Автором может стать только Пользователь, принявший условия Соглашения и соответствующий требованиям Сервиса, установленным Администратором.
1.8.	Правообладатель — лицо, обладающее исключительным правом на результат интеллектуальной деятельности (литературное произведение), либо иными правами, наделяющими лицо правом пользоваться литературным произведением.
1.9.	Услуги - платные и бесплатные услуги, предоставляемые Администрацией Ресурса и/или партнёрами и другими организаторами с помощью Ресурса на условиях Соглашения и/или иных документов.
1.10.	Регистрация на Сервере - заполнение Пользователем анкеты с помощью сервиса для получения доступа к услугам Сервиса и размещения произведений на Сервере.
1.11.	Размещение произведения на Сервере - передача Автором произведения на Сервер в машиночитаемой форме с целью получения услуг и/или публикации (доведения до всеобщего сведения).
1.12.	Страница – страница Пользователя (далее - Страница, авторская Страница), на которой размещены Конкурсы, в которых он принимал (принимает) участие и Произведения (поданные в Заявке на участие в Конкурсе и прошедшие модерацию), а также результаты работы Жюри и Модератора, если Пользователь является Модератором и/или Жюри, либо информация о проведённых мероприятиях, акциях, Конкурсах и пр. активности, если Пользователь является Организатором.
1.13.	Жюри - физические лица, являющиеся независимыми арбитрами Ресурса, и оценивающие произведения Авторов.
1.14.	Модератор - физическое лицо, отвечающее за качество всего контента Ресурсе. Модератор также, проверяет Заявки и Литературные тексты на предмет наличия нарушений законодательства РФ и Правил пользования Ресурсом .
1.15.	Пользование услугами сервиса - любое совершение действий с помощью Сервиса, в том числе, осуществлённых с помощью сторонних ресурсов.
1.16.	Сервер - комплекс аппаратных и программных средств, обеспечивающих размещение электронных документов и предоставление услуг в сети Интернет с именем домена seterator.ru и/или посредством других интернет-ресурсов. 
1.17.	Ресурс - совокупность сервисов для предоставления услуг и доступа к материалам Сайта и сервисов Seterator.
1.18.	Официальные страницы - страницы, группы, каналы, сообщества и пр. формы в социальных сетях, мессенджерах, а также иных сервисах и ресурсах, сопоставимых по функционалу с существующими социальными сетями и мессенджерами, в том числе, узконаправленных, включённых в список Официальных страниц Ресурса и являющихся его частью и/или сервисами.
1.19.	Заявка - заблаговременное уведомление, составленное в установленной форме, информирующее организаторов о намерении участвовать в конкурсе. Включает название, Литературный текст и иные данные, если они запрашиваются в форме подачи Заявки.
1.20.	Форма подачи Заявки - техническое решение для приёма Заявок. Форма заявки может быть представлена как в виде формы на Сайте, так и в интерфейсах сторонних ресурсов (в т.ч, социальные сети, электронная почта, реклама и пр.).
1.21.	Администратор - физическое лицо, управляющее Ресурсом, и действующее от имени Ресурса.
1.22.	Жюри - физическое лицо, отвечающее за оценку Заявок, прошедших модерацию. Пользователю присваивается статус Жюри только после подтверждения Администратором.
1.23.	Партнер - физическое и/или юридическое лицо, разместившее свое предложение об оказании услуг Пользователям по сетевому адресу, указанному в информации о предложении, размещённой при помощи Ресурса. Условия оказания услуг каждый Партнер определяет самостоятельно.
1.24.	Организатор (внешний организатор) – партнёр, использующий для организации Конкурсов и мероприятий данный Ресурс и сервисы Seterator.
1.25.	Литературный текст - текст, предоставленный Пользователем в машиночитаемой форме, воспринимаемой Сервером.
1.26.	Конкурс - мероприятие, в ходе которого определяется качество и ценность содержания Заявок. В качестве организатора может выступать как Администрация, так и Организаторы.
1.27.	Личный кабинет - совокупность защищенных страниц Сайта, созданных в результате регистрации Пользователя, используя которые Пользователь получает возможность оплаты услуг, возможность изменения сведений о Пользователе, пароля, а также осуществления иных действий, предусмотренных явными функциями Личного кабинета. Доступ в Личный кабинет осуществляется путем внесения учетных данных в предусмотренные для этого поля на Сайте и/или при помощи сервисов Ресурса.
1.28.	Стимулирующее Мероприятие - акция, конкурс или иная не противоречащая законодательству активность Администратора, направленная на повышение интереса Пользователя к литературе и/или материалам и сервисам Ресурса.
1.29.	Блокировка аккаунта – частичное или полное, временное или окончательное приостановление доступа Пользователю к использованию Ресурса.
1.30.	Публикации в соцсетях, репосты с комментариями - размещение контента в соцсетях, в том числе с использованием Официальных страниц и/или страниц Автора, репосты с авторскими комментариями.
1.31.	Пользовательский контент (далее - Контент) - абсолютно любое информационно значимое либо содержательное наполнение Ресурса и сервисов, размещённое Пользователями при помощи Ресурса и всех его сервисов, включая, но не ограничиваясь: Литературные тексты, изображения, видеоматериалы, фонограммы, содержимое, наполняющее страницы Ресурса и сервисов, в т.ч. комментарии, а также другие формы и виды контента.
1.32.	Логин - уникальный идентификатор Пользователя.
1.33.	Соглашение - настоящее пользовательское соглашение.
1.34.	Стороны - Администратор и Пользователь
1.35.	Все остальные термины и определения, встречающиеся в тексте Соглашения, толкуются Сторонами в соответствии с законодательством Российской Федерации и сложившимися в сети Интернет обычными правилами толкования соответствующих терминов.
1.36.	Названия заголовков (статей) Соглашения предназначены исключительно для удобства пользования текстом Соглашения и буквального юридического значения не имеют.

2.	Общие условия

2.1.	Ресурс создан в целях поддержки и объединения Сетераторов.
2.2.	Использование материалов и сервисов Ресурса регулируется нормами действующего законодательства Российской Федерации.
2.3.	Получая доступ к материалам Ресурса, Пользователь считается присоединившимся к настоящему Соглашению.
2.4.	Пользователь может использовать материалы Ресурса и сервисы Ресурса следующим образом: изучение литературных произведений других Авторов способами, предусмотренными настоящим Соглашением и/или Приложениями к Соглашению; участие в Конкурсах, проводимых настоящим Ресурсом, а так же Партнёрами и Организаторами; цитирование; любое упоминание материалов, опубликованных с помощью Сервиса, если они не охраняются законом об авторском праве.

3.	Обязательства Пользователя

3.1.	Пользователь обязуется соблюдать условия настоящего Соглашения.
3.2.	Пользователь использует Ресурс безвозмездно, не подразумевая получения какого-либо гонорара, за исключением вознаграждения, условия получения и сумма которого указаны в условиях конкретных услуг.
3.3.	в случае передачи имущественных авторских прав на произведение, исключающей возможность его публикации (доведения до всеобщего сведения) с помощью Сервиса, Пользователь обязан незамедлительно ограничить доступ к данному произведению посредствам функций Ресурса, удалить произведение с Сервера, а также проинформировать сторону, которой он передает имущественные авторские права, о том, что ранее он публиковал свои произведения с помощью Сервиса.
3.4.	Пользователь соглашается не предпринимать действий и не оставлять комментарии и записи, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных прав, общепринятые нормы морали и нравственности, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Ресурса.
3.5.	использование материалов Ресурса без согласия правообладателя(-ей) Литературного текста не допускается.
3.6.	при цитировании материалов Ресурса, включая охраняемые авторские произведения, ссылка на Сайт обязательна. 
3.7.	Администрация не несет ответственности за посещение и использование пользователем внешних ресурсов, ссылки на которые может содержать Ресурс, кроме ссылок на Официальные страницы, программное обеспечение и пр. составляющие Ресурса.
3.8.	Администрация не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Ресурса и возможностями сервисов Ресурса, регистрацией авторских прав и сведениями о такой регистрации, товарами или услугами, доступными на или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную с помощью Сервиса информацию или ссылки на внешние ресурсы.
3.9.	Пользователь предоставляет достоверные данные документа, удостоверяющего личность (фамилию, имя, отчество, дату рождения, адрес субъекта персональных данных, номер документа, удостоверяющего его личность, сведения о дате выдачи указанного документа и выдавшем его органе) и/или иные требуемые данные осознанно и исходя из собственных побуждений в случаях, предусмотренных настоящим Соглашением, а именно: при ознакомлении с контентом, предусматривающим возрастную маркировку, в соответствии с законодательством РФ и/или нормами международного права, а так же, в соответствии с Правилами , при получении услуг, для получения которых требуются дополнительные данные, включая, но не ограничиваясь данными, перечисленными в п.3.9. настоящего Соглашения выше.
3.10.	Пользователь согласен с тем, что Администрация не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с рекламой, которая может быть размещена Ресурсом и/или при помощи сторонних ресурсов и сервисов.
3.11.	Пользователь обязан принимать во внимание информацию о внешних Организаторах и согласен нести за свои действия, направленные на вступления в любые взаимоотношения с ними полную ответственность.

4.	Обязанности Организатора

4.1.	В профиле у каждого Организатора есть раздел "ОРГ", в которой размещены все мероприятия и новости Организатора (одобренные конкурсы, конкурсы на рассмотрении, а так же новости). Организатор должен регулярно посещать свой Орг-раздел и незамедлительно редактировать размещённые информацию о проводимых Конкурсах/мероприятиях, не вводя пользователей в заблуждение, а также информировать пользователя о необходимости совершения действий, связанных с посещением внешних ресурсов с помощью функции «нестандартные условия». 
4.2.	 Организатор должен принимать во внимание комментарии Модераторов и Администраторов и реагировать на них. 
4.3.	Организатор должен своевременно заполнять информацию о этапе проведения мероприятия, о переносе сроков проведения и приёма заявок, результатах, а также об изменениях правил, условий и соглашений.
4.4.	Организатор должен отвечать на вопросы Участников, касающиеся участия в его мероприятиях. Срок на ответ по вопросам - не более 3 рабочих дней, если Организатором не оговорено иное.
4.5.	В случае срыва мероприятия, неполного проведения и тп, Организатор обязан незамедлительно информировать всех Участников и указать сроки по возврату предоплаты, если она производилась (возврат средств должен быть произведен не позднее, чем через 7 дней после объявления, если в Соглашении Организатора или других документах не указано иное см. Правила .
4.6.	При совместной организации мероприятия/создания новости, Организатор обязан оповестить об этом Участников мероприятия/аудиторию, ознакомившуюся с новостью.
4.7.	Если Организатор скрывает от кого-либо информацию по изменению цен, несвоевременно информирует о новых условиях и т.п. - он может получить предупреждение от Администрации и отметку «Недобросовестный». По жалобам пользователей, либо по усмотрению Администрации, Пользователю может быть отказано в доступе к функциям организатора. 
4.8.	 За пиар и рекламу мероприятия или контента несут ответственность сами Организаторы. 
4.9.	Организатор обязан отвечать на личные сообщения и комментарии от пользователей и Модераторов в течении 3 дней, а также выполнять необходимые исправления в информации в профиле и на странице мероприятия по просьбе Администратора и присылать информацию, документы и данные по запросу Администратора в срок, указанный в Соглашении или иных документах, а также выполнять необходимые просьбы от Модераторов и Администраторов, выраженные в, комментариях и личных сообщениях. 
4.10.	 Организатор обязан отвечать на сообщения и комментарии Администраторов и Модераторов, не оставляя сообщение или комментарий неотвеченным.
4.11.	Обращаем внимание, что хорошим тоном считается сведение затрат Покупателя на осуществление денежного перевода к 0. Так же, не стоит вводить пользователя в заблуждение, указывая сначала одно вознаграждение, а затем меняя его на другое.
4.12.	Организатор не должен скрывать различного рода нюансы и подробности участия, которые могут возникнуть в процессе проведения мероприятия. Все должно быть честно и открыто. 
4.13.	Если у Организатора есть помощники, которые имеют доступ в личный профиль Организатора, то ответственность за все действия помощников несет сам Организатор (владелец профиля).
4.14.	Если Организатором недовольны Пользователи, Администраторы или Модераторы, доступ к функционалу Организатора может быть ограничен.
4.15.	1. При условии корректного оформления заявки, Пользователь должен получить именно то, что указано в опубликованной Организатором информации. Некорректно оформленная заявка – ошибка Пользователя. 
4.16.	2. Пользователь обязан перед отправкой заявки ознакомиться с условиями конкурса/мероприятия. Условия размещаются на странице проведения конкурса/мероприятия и/или в заявке/соглашении/дополнительных документах).

5.	Авторство публикуемых с помощью сервиса произведений

5.1.	Настоящий Ресурс предназначен для публикации (доведения до всеобщего ознакомления) Контента Авторами или их представителями посредством использования Ресурса. Публикация произведений осуществляется на основании настоящего Соглашения.
5.2.	Запрещается использование чужих произведений без согласия авторов или правообладателей. В случае написания создания Контента в соавторстве, его публикация и использование в рамках Ресурса допускается только с письменного согласия всех его соавторов, светокопия которого предоставляется вместе с вышеуказанном Контентом порядке, предусмотренном Правилами .
5.3.	В Соглашении и Правилах  используются понятия «Автор» и «Пользователь». В большинстве случаев это одно и то же физическое лицо, однако допустимы исключения, когда публикация произведений осуществляется представителем (помощником) Автора по поручению Автора. В этом случае Пользователем будет являться этот представитель. Представитель несет всю ответственность за соблюдение Правил  и Соглашения, а также законодательства РФ и гражданскую ответственность перед третьими лицами. В этом случае, в профиле должно быть указано имя Автора, написавшего произведение, а для заключения договоров - ФИО представителя автора.
5.4.	Произведения умерших авторов не могут быть использованы для извлечения любой выгоды в рамках Сервиса. Правообладатели и наследники авторских прав не могут размещать произведения умерших Авторов с помощью Сервиса, за исключением использования их с указанием авторства в комментариях, рецензиях, статусах, описаниях и пр. Кроме того, запрещаются любые действия от имени умершего Автора. Если Автор самостоятельно размещал свои произведения, а затем скончался, получить доступ к его Аккаунту, а также ограничить публичный доступ к объектам его авторского права имеют право наследники авторских прав, предъявив свидетельство о смерти и документы, подтверждающие право наследования в соответствии с законодательством, а также Администратор, получивший информацию о смерти Автора, опровержение которой не было получено в течении одного (1) календарного года с момента её получения.
5.5.	Автор имеет право в любой момент прекратить публикацию размещенного им произведения, а также прекратить публикацию всех своих произведений сразу, закрыв Страницу. Автор произведения также имеет право в любой момент прекратить публикацию своего произведения на другой авторской Странице (если оно размещено другим пользователем без его согласия),  сообщив Администрации с помощью функции «Заявить о нарушении», заполнив установленную форму и отправив её на рассмотрение Модераторам, или обратившись в службу поддержки настоящего Ресурса.

6.	 Условия оплаты услуг, предоставляемых с помощью настоящего Сервиса

6.1.	Покупатель совершает оплату услуг в рублях на условиях, указанных на Сайте, тем самым принимая Правила пользования Ресурсом в части приобретения и использования платных услуг. 
6.2.	Администратор вправе в одностороннем порядке изменять действующие цены на отдельные услуги путем размещения соответствующей информации на Сайте и/или посредствам сервисов Ресурса, в том числе, Официальных страниц. Любое изменение цен не касается уже оплаченных услуг.
6.3.	Пользователь имеет возможность привязать банковскую карту к своей учетной записи, или выбрать иные способы оплаты, доступные с использованием настоящего Ресурса.

7.	Обязанности Администрации

7.1.	Администрация обязуется способствовать соблюдению авторских прав Пользователя на размещенные произведения в пределах Сервера.
7.2.	Администрация обязуется соблюдать тайну литературного псевдонима Автора, если Автор использует псевдоним.
7.3.	Администрация обязуется обеспечить необходимые меры для защиты персональных данных в соответствии со ст.19 Федерального закона «О персональных данных».
7.4.	Администрация не несёт ответственности за качество доступа к сервисам Ресурса через сеть Интернет.
7.5.	Ни при каких обстоятельствах Администрация не несет ответственности за использование третьими лицами Логина и Пароля, а также иных действий, приведших к получению ими доступа к аккаунту Пользователя.
7.6.	Администрация не несет ответственности за прямой или косвенный ущерб, понесенный Пользователем в результате ошибок передачи данных, сбоев/дефектов в работе программного обеспечения и/или оборудования, потерь и повреждений данных, ошибок обработки или отображения данных, задержек в передаче данных и других сбоев, случившихся не по вине Администрации.
7.7.	Сайт, Мобильные приложения и все сопутствующие сервисы Ресурса предоставляются на условиях «как есть», без каких-либо прямых или косвенных гарантий того, что указанные Сайт, Мобильные приложения и/или сервисы могут подходить или не подходить для конкретных целей использования (в т.ч. и для размещения/хранения пользовательского контента).
7.8.	Администрация не несет ответственности за невозможность пользования Сайтом, Мобильными приложениями и/или сопутствующими сервисами Ресурса Пользователем по каким-либо причинам, включая, но не ограничиваясь: ошибки, упущения, прерывания, удаление, дефекты, задержку в обработке или передаче данных, нарушение работы линий связи, неисправность оборудования, любые технические сбои или иные проблемы любых телефонных сетей или служб, компьютерных систем, серверов или провайдеров, компьютерного или телефонного оборудования, программного обеспечения, невыполнение обязательств поставщиков тех или иных услуг, кражу, уничтожение или неправомерный доступ к материалам Пользователей, размещенным на Сервере или в любом другом месте и т.п.
7.9.	Ни при каких обстоятельствах Администрация не несет ответственности за любые расходы Пользователя (в т.ч. Покупателя) или прямой либо косвенный ущерб, включая упущенную выгоду или потерянные данные, вред чести, достоинству или деловой репутации, который может быть нанесен Пользователю (в т.ч. Покупателю)  вследствие использования Сайта, Мобильных приложений и/или сопутствующих сервисов Ресурса. 
7.10.	Администрация не несет ответственности перед Пользователем, если Пользователю по тем или иным причинам не понравилось содержание, оформление, литературно-художественная ценность и т.п., размещённого кем-либо на Сервере Произведения надлежащего качества, то есть при отсутствии у Пользователя технических затруднений при загрузке на сервер, отображении такого Произведения на свое устройство и/или просмотре/чтении/прослушивании такого Произведения на своем устройстве, при условии, что это устройство технически исправно и по своим параметрам соответствует требованиям к размещению подобных файлов. Дифференцированное оценивание качества работ производят жюри, оценка конкретного Произведения зависит от их собственных взглядов и убеждений. Техническую оценку  (например, соответствие Правилам) осуществляют Модераторы. Администрация не несёт ответственности за оценку Жюри и работу Модераторов и выполняет лишь организационную функцию.


8.	 Прочие условия

8.1.	Все споры, разногласия и претензии, которые могут возникнуть в связи с заключением, исполнением, изменением, расторжением или признанием недействительным Соглашения, Стороны будут стремиться решить путем переговоров. Сторона, у которой возникли претензии и/или разногласия, направляет другой Стороне сообщение с указанием возникших претензий и/или разногласий. Сообщение Пользователя о возникших претензиях и/или разногласиях должно быть направлено Пользователем Администратору по электронному адресу report@seterator.ru, а также продублировано в письменном виде по адресу Администратора, указанному в настоящем Соглашении. Сообщение Администратора о возникших претензиях и/или разногласиях направляется Администратором Пользователю по электронному адресу Пользователя, указанному при Регистрации на Сайте, либо иным образом, позволяющим зафиксировать факт отправки.
8.2.	Если споры не будут разрешены путем переговоров, они подлежат разрешению в порядке, установленном законодательством РФ.
8.3.	Администратор не гарантирует, что составляющие Ресурса соответствуют требованиям Пользователя, что доступ к Ресурсу будет предоставляться непрерывно, быстро, надежно и без ошибок.
8.4.	Программно-аппаратные ошибки как на стороне Администратора, так и на стороне Пользователя, приведшие к невозможности получения Пользователем доступа к Ресурсу и сервисам, являются обстоятельствами непреодолимой силы и основанием освобождения от ответственности за неисполнение обязательств Администратором по настоящему Соглашению.
8.5.	Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.
8.6.	Бездействие со стороны Администрации в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы, опубликованные с помощью Сервиса, которые могут выражаться в ограничении доступа к Произведению; удалении Произведения из публичного доступа; временной блокировке аккаунта; ограничение ряда функций, предоставляемых Сервисом; бессрочной блокировкой аккаунта с его последующим удалением.
8.7.	Администрация вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения и Правил. Такие изменения вступают в силу по истечении 3 дней с момента размещения новой версии Соглашения на сайте. При каждом последующем использовании Ресурса до начала пользования Личным кабинетом и/или иными функциональными возможностями Ресурса и сервисов Пользователь обязуется знакомиться с новой версией Соглашения (Правил), доступной по сетевому адресу http://seterator.ru/. Продолжение использования Ресурса, сервисов и Личного кабинета будет означать согласие Пользователя с условиями новой версии Соглашения. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Ресурсу, а равно прекратить пользование настоящим Сервисом.
8.8.	Ресурс может содержать ссылки на другие сайты и сервисы в сети Интернет (сайты третьих лиц).
Указанные третьи лица и содержание их сайтов/контента не проверяются Администратором на соответствие тем или иным требованиям (достоверности, полноты, законности и т.п.). Администратор не несет ответственности за любую информацию, материалы, размещенные на сайтах третьих лиц, к которым Пользователь получает доступ при пользовании Ресурсом, в том числе, за любые мнения или утверждения, выраженные на сайтах третьих лиц, рекламу и т.п., а также за доступность таких сайтов или контента и последствия их использования Пользователем.
8.9.	Фактом принятия настоящего Соглашения является пользование Сайтом и/или Ресурсом и сервисами.

9.	Адреса и реквизиты сторон

Интернет-ресурс для поддержки Авторов и публикации литературных произведений
«Seterator»
в лице Новожилова Александра Сергеевича
Москва, 2019 г.


Пользователь
Принятием условий настоящего Соглашения признаётся пользование любыми сервисами Ресурса «Seterator» в соответствии с п.2.3; п.7.7 настоящего Соглашения
Москва, 2019 г.

        </pre>
    </div>

<script src="~/dist/HomePrivacy.js"></script>
