@*@model System.Collections.Generic.IEnumerable<Rauthor.Models.Competition>*@
@model RelevantCompetitionsModel
@*@using Microsoft.EntityFrameworkCore.Extensions*@

@{
    ViewData["Title"] = "Главная";
}

    <div class="container">

        @foreach (var competition in Model.IncomingResultCompetitions)
        {
            <div class="grid-col-2">
                <div class="event_card">
                    <img src="~/img/event.png" />
                    <div class="info-on-card">
                        <h3>@competition.Titile</h3>
                        <h4>до @competition.EndDate.ToString("dd.MM.yyyy")</h4>
                    </div>
                    <a asp-action="Details" asp-controller="Competition" asp-route-id="@competition.Guid.ToString()"><div class="continue_button"><p>Посмотреть</p></div></a>
                </div>
            </div>
        }

        <div class="grid-col-2">
            <div class="event_card">
                <img src="~/img/event.png" />
                <div class="info-on-card">
                    <h3>Заголовок</h3>
                    <h4>до 26.08.2019</h4>
                </div>
                <div class="continue_button"><p>Посмотреть</p></div>
            </div>

            <div class="grid-col-4">
                <div class="event_card">
                    <img src="~/img/medium_event2.png">
                    <div class="info-on-card">
                        <h3>Заголовок</h3>
                        <h4>до 26.08.2019</h4>
                    </div>
                    <div class="continue_button"><p>Посмотреть</p></div>
                </div>

                <div class="event_card medium_size">
                    <img src="~/img/medium_event2.png">
                    <div class="info-on-card">
                        <h3>Заголовок</h3>
                        <h4>до 26.08.2019</h4>
                    </div>
                    <div class="continue_button"><p>Посмотреть</p></div>
                </div>

                <div class="event_card medium_size">
                    <img src="~/img/medium_event2.png">
                    <div class="info-on-card">
                        <h3>Заголовок</h3>
                        <h4>до 26.08.2019</h4>
                    </div>
                    <div class="continue_button"><p>Посмотреть</p></div>
                </div>

                <div class="event_card medium_size">
                    <img src="~/img/medium_event2.png">
                    <div class="info-on-card">
                        <h3>Заголовок</h3>
                        <h4>до 26.08.2019</h4>
                    </div>
                    <div class="continue_button"><p>Посмотреть</p></div>
                </div>
            </div>

            <div class="event_card">
                <img src="~/img/event.png" />
                <div class="info-on-card">
                    <h3>Заголовок</h3>
                    <h4>до 26.08.2019</h4>
                </div>
                <div class="continue_button"><p>Посмотреть</p></div>
            </div>

            <div class="event_card">
                <img src="~/img/event.png" />
                <div class="info-on-card">
                    <h3>Заголовок</h3>
                    <h4>до 26.08.2019</h4>
                </div>
                <div class="continue_button"><p>Посмотреть</p></div>
            </div>

        </div>

        <div class="grid-row-4">
            <div class="event_card medium_size">
                <img src="~/img/medium_event2.png">
                <div class="info-on-card">
                    <h3>Заголовок</h3>
                    <h4>до 26.08.2019</h4>
                </div>
                <div class="continue_button"><p>Посмотреть</p></div>
            </div>

            <div class="event_card medium_size">
                <img src="~/img/medium_event2.png">
                <div class="info-on-card">
                    <h3>Заголовок</h3>
                    <h4>до 26.08.2019</h4>
                </div>
                <div class="continue_button"><p>Посмотреть</p></div>
            </div>

            <div class="event_card medium_size">
                <img src="~/img/medium_event2.png">
                <div class="info-on-card">
                    <h3>Заголовок</h3>
                    <h4>до 26.08.2019</h4>
                </div>
                <div class="continue_button"><p>Посмотреть</p></div>
            </div>

            <div class="event_card medium_size">
                <img src="~/img/medium_event2.png">
                <div class="info-on-card">
                    <h3>Заголовок</h3>
                    <h4>до 26.08.2019</h4>
                </div>
                <div class="continue_button"><p>Посмотреть</p></div>
            </div>
        </div>

        <h4>Мы здесь</h4>
        <div class="social_block">
            <div class="img-wrap">
                <img src="~/img/1osm.png" />
            </div>
            <div class="social-osm-grid">
                <div>
                    <p>Конкурсы прямо</p>
                    <img src="~/img/social_icons/facebook_icon.gif" />
                </div>
                <div>
                    <p>Новости сервиса</p>
                    <img src="~/img/social_icons/facebook_icon.gif" />
                </div>
                <div>
                    <p>Лучшие стихи</p>
                    <img src="~/img/social_icons/facebook_icon.gif" />
                </div>
                <div>
                    <p>Литературный клуб</p>
                    <img src="~/img/social_icons/facebook_icon.gif" />
                </div>
                <div>
                    <p>Красота поэзии</p>
                    <img src="~/img/social_icons/facebook_icon.gif" />
                </div>
            </div>
            @*<ul class="social_grid">
                <li>
                    <p>Конкурсы прямо</p>
                    <div class="img_wrap"><img src="~/img/social_icons/facebook_icon.gif" /></div>
                </li>
                <li>
                    <p>Новости сервиса</p>
                    <div class="img_wrap"><img src="~/img/social_icons/facebook_icon.gif" /></div>
                </li>
                <li>
                    <p>Лучшие стихи</p>
                    <div class="img_wrap"><img src="~/img/social_icons/facebook_icon.gif" /></div>
                </li>
                <li>
                    <p>Литературный клуб</p>
                    <div class="img_wrap"><img src="~/img/social_icons/facebook_icon.gif" /></div>
                </li>
                <li>
                    <p>Красота поэзии</p>
                    <div class="img_wrap"><img src="~/img/social_icons/facebook_icon.gif" /></div>
                </li>
            </ul>*@
        </div>

    </div>