@model System.Collections.Generic.IEnumerable<Rauthor.Models.Competition>

@{
    ViewData["Title"] = "Главная";
}

    <div class="container">

        <div class="grid-index">
            @foreach (var competition in Model)
            {

                <a href="Competition/Details/@competition.Guid.ToString()">
                    <div class="event_card">
                        <div class="info-on-card">
                            <h3>@competition.Titile</h3>
                            <h4>до @competition.EndDate.ToString("dd.MM.yyyy")</h4>
                        </div>
                    </div>
                </a>
            }
        </div>
</div>