@model System.Collections.Generic.IEnumerable<Rauthor.Models.Competition>

@{
    ViewData["Title"] = "Главная";
}

<div class="container">
    <div id="index">
        <div class="banner banner_theme_common banner_padding_medium">
            <h2 class="banner__title">Поэтические конкурсы каждый день!</h2>
            <p class="banner__description">Устал от конкурсов с результатами через год?</p>
            <p class="banner__description">Отправь заявку сегодня и завтра узнай результат!</p>
        </div>

        <div class="events-list">
            @foreach (var competition in Model)
            {
                <a href="Competition/Details/@competition.Guid.ToString()">
                    <div class="eventItem eventItem_column">
                        <span class="eventItem__timer_column">@competition.EndDate.ToString("yyyy.MM.dd")</span>
                        <span class="eventItem__category">Ежедневный конкурс</span>
                        <h4 class="eventItem__title">@competition.Title</h4>
                        <p class="eventItem_shortDescription">@competition.Description</p>
                    </div>
                </a>
            }
            <span>Все ежедневные конкурсы</span>
        </div>
    </div>
</div>